@import url("https://fonts.googleapis.com/css2?family=Anton&family=Urbanist:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.previous-title {
  font-family: "Anton", sans-serif;
}

.previous-editions {
  font-family: "Urbanist", sans-serif;
  background: #100031;
}

.slide {
  width: 60vmin;
  background-color: #c4c4c4;
  background-position: center;
  background-repeat: no-repeat;
}

.Line-quote-one,
.Line-quote-two {
  position: relative;
}

.Line-quote-one::after {
  content: "";
  display: block;
  width: 90%;
  height: 3px;
  z-index: 0;
  background: #ffc947;
  position: absolute;
  right: 0;
  top: 50%;
}

.svg-quote {
  z-index: 1;
  background: #100031;
}

.flexcol {
  display: flex;
  flex-direction: column;
}

.Line-quote-two::before {
  content: "";
  display: block;
  width: 90%;
  height: 3px;
  z-index: 0;
  background: #ffc947;
  position: absolute;
  left: 0;
  top: 50%;
}

.author-quote {
  color: #ffc947;
}
.s1 {
  background-image: url("assets/contact_image.png");
}
